# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [9]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
data.isna().sum() # Out of 33702 rows we have nan in 25528

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
data['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [13]:
data.groupby(['Department']).agg({'Name':len}).reset_index()

             Department   Name
0          ADMIN HEARNG     38
1         ANIMAL CONTRL     75
2              AVIATION   1856
3     BOARD OF ELECTION    111
4       BOARD OF ETHICS      8
5         BUDGET & MGMT     44
6             BUILDINGS    258
7      BUSINESS AFFAIRS    167
8            CITY CLERK     88
9          CITY COUNCIL    362
10                 COPA    123
11     CULTURAL AFFAIRS     74
12                 DAIS   1033
13         DISABILITIES     28
14     FAMILY & SUPPORT    656
15              FINANCE    544
16                 FIRE   4627
17               HEALTH    467
18              HOUSING     66
19   HOUSING & ECON DEV    154
20      HUMAN RELATIONS     17
21      HUMAN RESOURCES     75
22        INSPECTOR GEN     95
23                  LAW    398
24    LICENSE APPL COMM      1
25       MAYOR'S OFFICE    104
26                 OEMC   1737
27               POLICE  13848
28         POLICE BOARD      2
29          PROCUREMENT     84
30       PUBLIC LIBRARY   1088
31  PUBLIC SAFETY ADMIN    244
32        STREETS & SAN   2175
33           TRANSPORTN   1113
34            TREASURER     28
35          WATER MGMNT   1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [86]:
import scipy.stats as st

data_hourly = data['Typical Hours'][data['Salary or Hourly']=='Hourly'] # Filtered data of hourly workers


# H0: mean = 30$/hr
# H1: mean!= 30$/Hr
    
st.ttest_1samp(data_hourly, 30.0)

Ttest_1sampResult(statistic=41.88481765519587, pvalue=0.0)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [77]:
data_salary = data['Annual Salary'][data['Salary or Hourly']=='Salary']

st.ttest_1samp(data_salary, 86000)

Ttest_1sampResult(statistic=23.149576589194083, pvalue=2.3765140851726716e-117)

Using the `crosstab` function, find the department that has the most hourly workers.

In [54]:
crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'], margins=False)

# Streets and San is the department with highest number of hourly

Salary or Hourly     Hourly  Salary
Department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [84]:
data1 = data['Typical Hours'][data['Department']=='STREETS & SAN']

#data1.value_counts()
# np.mean(data1)

st.ttest_1samp(data1.dropna(), 35.0)

Ttest_1sampResult(statistic=10.51164654595893, pvalue=3.858291585316095e-25)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [91]:
import scipy.stats
confidence_level = 0.95
degrees_freedom = len(data_hourly)
sample_mean = np.mean(data_hourly)
sample_standard_error = scipy.stats.sem(data_hourly)

scipy.stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)

(34.16018740607519, 34.56870909502586)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [92]:
confidence_level = 0.95
degrees_freedom = len(data_salary)
sample_mean = np.mean(data_salary)
sample_standard_error = scipy.stats.sem(data_salary)

scipy.stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)

(88802.55516270538, 89321.03483729456)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [100]:
# Syntax: proportions_ztest(count, nobs, value=None, alternative=’two-sided’) 

# Parameters:

# count: the number of successes in nobs trials.
# nobs: the number of trials or observations, with the same length as count.
# value: the hypothesized population proportion.
# alternative: The alternative hypothesis.  

hourly_workers = len(data_hourly)/len(data)

hourly_workers

0.24253753486439975

In [99]:
# import library
from statsmodels.stats.proportion import proportions_ztest
  
# perform one proportion z-test
proportions_ztest(count=8174, nobs=33702, value=0.25)

# 8174 is the length of hourly workers
# 33702 is the total workers

(-3.1962453870335, 0.0013922864704323116)